<a href="https://colab.research.google.com/github/pushkar205/Data-Analysis-using-Python/blob/main/DAP_Loops_break_continue_pass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
    str = "Python"  
    for i in str:  
        print(i)

P
y
t
h
o
n

In [21]:
    list = [1,2,3,4,5,6,7,8,9,10]  
    n = 6 
    for i in list:  
        c = n*i  
        print(n," *",i, " =", c)

6  * 1  = 6
6  * 2  = 12
6  * 3  = 18
6  * 4  = 24
6  * 5  = 30
6  * 6  = 36
6  * 7  = 42
6  * 8  = 48
6  * 9  = 54
6  * 10  = 60

In [22]:
    list = [10,30,23,43,55,12]  
    sum = 0  
    for i in list:  
        sum = sum+i  
    print("The sum is:",sum)

The sum is: 173

In [23]:
    for i in range(14):  
        print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13

In [ ]:
    n = int(input("Enter the number "))  
    for i in range(1,11):  
        c = n*i  
        print(n,"*",i,"=",c)

In [ ]:
    n = int(input("Enter the number "))  
    for i in range(2,n,2):  
        print(i)

In [ ]:
    list = ['Pushkar','Shubham','Ram','Dev']  
    for i in range(len(list)):  
        print("Hello",list[i])

In [ ]:
    for i in range(0,7):    
        print(i)    
    else:  
        print("for loop completely exhausted, since there is no break.")

In [ ]:
    for i in range(0,7):    
        print(i)    
        print("bye")
        continue;    
        print("hello")
    else:print("for loop is exhausted");    
    print("The loop is broken due to break statement...came out of the loop")

In [ ]:
i = 0  
str1 = 'pushkar'  
  
while i < len(str1):   
    if str1[i] == 'n':   
        i += 1  
        break  
    print('Current Letter :', str1[i])   
    i += 1

In [ ]:
#The pass statement is used to declare the empty loop. 
#It is also used to define empty class, function, and control statement.

str1 = 'pushkar'  
i = 0  
  
while i < len(str1):   
    i += 1  
    pass  
print('Value of i :', i)

In [ ]:
    i=1  
    #The while loop will iterate until condition becomes false.  
    while(i<=10):    
        print(i)   
        i=i+1

In [ ]:
    i=1    
    number = int(input("Enter the number:"))    
    while i<=10:    
        print("%d X %d = %d \n"%(number,i,number*i))    
        i = i+1

In [ ]:
while (0):    
    print("Hi! we are inside the infinite while loop")

In [ ]:
    var =    
    while(var != 2):    
        i = int(input("Enter the number:"))    
        print("Entered value is %d"%(i))

In [ ]:
i=1   
while(i<=5):    
    print(i)    
    i=i+1    
else:  
    print("The while loop exhausted")

In [ ]:
i=1    
while(i<=5):    
    print(i)    
    i=i+1    
    if(i==3):    
        break   
else:  
    print("The while loop exhausted")
print("bye bye")

In [ ]:
    list =[1,2,3,4]  
    i=1;
    count = 1;  
    for i in list:  
        if i == 4:  
            print("item matched")  
            count = count + 1;  
            break  
    print("found at",count,"location");

In [ ]:
    str = "python"  
    for i in str:  
        if i == 'o':  
            break  
        print(i);

In [ ]:
    n=2  
    while 1:  
        i=1;  
        while i<=10:  
            print("%d X %d = %d\n"%(n,i,n*i));  
            i = i+1;  
        choice = int(input("Do you want to continue printing the table, press 0 for no?"))  
        if choice == 0:  
            break;      
        n=n+1

In [ ]:
    i = 0                     
    while(i < 10):                
       i = i+1  
       if(i == 5):  
          continue  
       print(i)

In [ ]:
    str = "Pushkar"  
    for i in str:  
        if(i == 'n'):  
            continue  
        print(i)

In [ ]:
    list = [1,2,3,4,5]    
    flag = 0    
    for i in list:    
        print("Current element:",i,end=" ");    
        if i==3:    
            pass    
            print("\nWe are inside pass block\n");    
            flag = 1    
        if flag==1:    
            print("\nCame out of pass\n");    
            flag=0

In [ ]:
values = {'P', 'y', 't', 'h','o','n'}  
for val in values:  
    pass

In [ ]:
    for i in [1,2,3,4,5]:   
        if(i==4):  
            pass  
            print("This is pass block",i)  
        print(i)