<a href="https://colab.research.google.com/github/pushkar205/Data-Analysis-using-Python/blob/main/Pandas_Descriptive_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar',
   'Lee','Dave','Gaarry','Beck','Anand']),
   'Age':pd.Series([25,26,25,23,30,21,20,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,4.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

       Name  Age  Rating
0     chiku   25    4.23
1     Jerry   26    3.24
2       Ram   25    3.98
3       Sam   23    2.56
4    Shaggy   30    3.20
5     Sumit   21    4.60
6   Pushkar   20    4.80
7       Lee   34    3.78
8      Dave   40    2.98
9    Gaarry   30    4.80
10     Beck   51    4.10
11    Anand   46    3.65

In [14]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar',
   'Lee','Dave','Gaarry','Beck','Anand']),
   'Age':pd.Series([25,26,25,23,30,21,20,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,4.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.sum())

Name      chikuJerryRamSamShaggySumitPushkarLeeDaveGaarr...
Age                                                     371
Rating                                                45.92
dtype: object

In [15]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar',
   'Lee','Dave','Gaarry','Beck','Anand']),
   'Age':pd.Series([25,26,25,23,30,21,20,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,4.8,3.78,2.98,4.80,4.10,3.65])
}
 
#Create a DataFrame
df = pd.DataFrame(d)
print (df.sum(1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     25.60
6     24.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [16]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar',
   'Lee','Dave','Gaarry','Beck','Anand']),
   'Age':pd.Series([25,26,25,23,30,21,20,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,4.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.mean())

Age       30.916667
Rating     3.826667
dtype: float64

In [17]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar',
   'Lee','Dave','Gaarry','Beck','Anand']),
   'Age':pd.Series([25,26,25,23,30,21,20,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,4.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.std())

Age       9.995075
Rating    0.728964
dtype: float64

In [18]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar',
   'Lee','Dave','Gaarry','Beck','Anand']),
   'Age':pd.Series([25,26,25,23,30,21,20,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,4.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe())

             Age     Rating
count  12.000000  12.000000
mean   30.916667   3.826667
std     9.995075   0.728964
min    20.000000   2.560000
25%    24.500000   3.230000
50%    28.000000   3.880000
75%    35.500000   4.322500
max    51.000000   4.800000

In [19]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar',
   'Lee','Dave','Gaarry','Beck','Anand']),
   'Age':pd.Series([25,26,25,23,30,21,20,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,4.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe(include=['object']))

         Name
count      12
unique     12
top     Jerry
freq        1

In [20]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar',
   'Lee','Dave','Gaarry','Beck','Anand']),
   'Age':pd.Series([25,26,25,23,30,21,20,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,4.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print (df. describe(include='all'))

         Name        Age     Rating
count      12  12.000000  12.000000
unique     12        NaN        NaN
top     Jerry        NaN        NaN
freq        1        NaN        NaN
mean      NaN  30.916667   3.826667
std       NaN   9.995075   0.728964
min       NaN  20.000000   2.560000
25%       NaN  24.500000   3.230000
50%       NaN  28.000000   3.880000
75%       NaN  35.500000   4.322500
max       NaN  51.000000   4.800000

In [21]:
# Import package
from pandas import DataFrame

# Create DataFrame
cart = {'Product': ['Mouse', 'PC', 'Mobile', 'Keyboard', 'Laptop'],
		'Price': [1800, 180000, 26000, 2000, 45000],
		'Year': [2019, 2020, 2021, 2020, 2021]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Price
print("\nDescriptive statistics of Price:\n")
stats = df['Price'].describe()
print(stats)

Original DataFrame:
     Product   Price  Year
0     Mouse    1800  2019
1        PC  180000  2020
2    Mobile   26000  2021
3  Keyboard    2000  2020
4    Laptop   45000  2021

Descriptive statistics of Price:

count         5.000000
mean      50960.000000
std       74370.074627
min        1800.000000
25%        2000.000000
50%       26000.000000
75%       45000.000000
max      180000.000000
Name: Price, dtype: float64

In [22]:
# Import package


# Create DataFrame
cart = {'Product': ['Mouse', 'PC', 'Mobile', 'Keyboard', 'Laptop'],
		'Price': [1800, 180000, 26000, 2000, 45000],
		'Year': [2019, 2020, 2021, 2020, 2021]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Year
print("\nDescriptive statistics of year:\n")
stats = df['Year'].describe()
print(stats)

Original DataFrame:
     Product   Price  Year
0     Mouse    1800  2019
1        PC  180000  2020
2    Mobile   26000  2021
3  Keyboard    2000  2020
4    Laptop   45000  2021

Descriptive statistics of year:

count       5.00000
mean     2020.20000
std         0.83666
min      2019.00000
25%      2020.00000
50%      2020.00000
75%      2021.00000
max      2021.00000
Name: Year, dtype: float64

In [23]:


# Create DataFrame
cart = {'Product': ['Mouse', 'PC', 'Mobile', 'Keyboard', 'Laptop'],
		'Price': [1800, 180000, 26000, 2000, 45000],
		'Year': [2019, 2020, 2021, 2020, 2021]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of whole dataframe
print("\nDescriptive statistics of whole dataframe:\n")
stats = df.describe(include = 'all')
print(stats)

Original DataFrame:
     Product   Price  Year
0     Mouse    1800  2019
1        PC  180000  2020
2    Mobile   26000  2021
3  Keyboard    2000  2020
4    Laptop   45000  2021

Descriptive statistics of whole dataframe:

       Product          Price        Year
count        5       5.000000     5.00000
unique       5            NaN         NaN
top     Laptop            NaN         NaN
freq         1            NaN         NaN
mean       NaN   50960.000000  2020.20000
std        NaN   74370.074627     0.83666
min        NaN    1800.000000  2019.00000
25%        NaN    2000.000000  2020.00000
50%        NaN   26000.000000  2020.00000
75%        NaN   45000.000000  2021.00000
max        NaN  180000.000000  2021.00000

In [25]:


# Create DataFrame
cart = {'Product': ['Mouse', 'PC', 'Mobile', 'Keyboard', 'Laptop'],
		'Price': [1800, 180000, 26000, 2000, 45000],
		'Year': [2019, 2020, 2021, 2020, 2021]
		}
df = DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Print Count of Price
print("\nCount of Price:\n")
counts = df['Price'].count()
print(counts)

# Print mean of Price
print("\nMean of Price:\n")
m = df['Price'].mean()
print(m)

# Print maximum value of Price
print("\nMaximum value of Price:\n")
mx = df['Price'].max()
print(m)

# Print standard deviation of Price
print("\nStandard deviation of Price:\n")
sd = df['Price'].std()
print(sd)

Original DataFrame:
     Product   Price  Year
0     Mouse    1800  2019
1        PC  180000  2020
2    Mobile   26000  2021
3  Keyboard    2000  2020
4    Laptop   45000  2021

Count of Price:

5

Mean of Price:

50960.0

Maximum value of Price:

50960.0

Standard deviation of Price:

74370.07462682822