<a href="https://colab.research.google.com/github/pushkar205/Data-Analysis-using-Python/blob/main/Pandas_Function_Application_%26_Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)
print("printing the results of pipe")
print(df.pipe(adder,2))

       col1      col2      col3
0 -2.093628 -0.700957  0.024107
1  0.208686  2.106078  1.501924
2 -0.479155  0.450428  0.083193
3  0.714281 -0.352612 -0.491938
4 -1.118881 -1.652310  0.450655
printing the results of pipe
       col1      col2      col3
0 -0.093628  1.299043  2.024107
1  2.208686  4.106078  3.501924
2  1.520845  2.450428  2.083193
3  2.714281  1.647388  1.508062
4  0.881119  0.347690  2.450655

In [12]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
   return ele1+ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean))

       col1      col2      col3
0 -0.840084 -0.085411 -0.636255
1  1.144132 -0.076061 -0.882224
2  0.837598 -1.107020 -0.793535
3 -0.564605 -0.951493  0.932387
4 -1.401213  0.157288 -0.055473
col1   -0.164835
col2   -0.412540
col3   -0.287020
dtype: float64

In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print (df.apply(np.mean,axis=1))

       col1      col2      col3
0  0.382999 -0.049906 -0.627607
1  1.883726  0.127588  0.244666
2 -0.364313 -0.095163 -0.331675
3 -0.927613  1.619941  0.129117
4  0.516243  0.664927  0.124364
0   -0.098171
1    0.751993
2   -0.263717
3    0.273815
4    0.435178
dtype: float64

In [14]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

print(df['col1'].map(lambda x:x*100))

       col1      col2      col3
0  0.534034  0.060933 -0.183395
1  0.210730  0.211979 -1.039158
2 -0.614929  0.102553 -0.178482
3  0.463669  1.312218 -0.795892
4  0.927281 -0.599071  0.536604
0    53.403391
1    21.073045
2   -61.492926
3    46.366895
4    92.728086
Name: col1, dtype: float64

In [15]:
df=pd.DataFrame({'id':[1,2,3,4,5],'name':['aman','Pushkar','sam','bhaskar','chaman'],'age':[11,22,33,44,55], 'income':[9999,8888,7777,6666,5555]})
print(df)

   id     name  age  income
0   1     aman   11    9999
1   2  Pushkar   22    8888
2   3      sam   33    7777
3   4  bhaskar   44    6666
4   5   chaman   55    5555

In [16]:
df['age']=df.apply(lambda x: x['age']+3, axis=1)
print(df)

   id     name  age  income
0   1     aman   14    9999
1   2  Pushkar   25    8888
2   3      sam   36    7777
3   4  bhaskar   47    6666
4   5   chaman   58    5555

In [17]:
list(filter(lambda x:x>18, df['age']))

[25, 36, 47, 58]

In [18]:
df['income']=list(map(lambda x: int(x+x*0.2), df['income']))
print(df)

   id     name  age  income
0   1     aman   14   11998
1   2  Pushkar   25   10665
2   3      sam   36    9332
3   4  bhaskar   47    7999
4   5   chaman   58    6666

In [19]:
import functools

functools.reduce(lambda a,b: a+b, df['income'])

46660

In [20]:
df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else 'Child')
print(df)

   id     name  age  income category
0   1     aman   14   11998    Child
1   2  Pushkar   25   10665    Adult
2   3      sam   36    9332    Adult
3   4  bhaskar   47    7999    Adult
4   5   chaman   58    6666    Adult