<a href="https://colab.research.google.com/github/pushkar205/Data-Analysis-using-Python/blob/main/Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print (s)

0   -0.472254
1    0.836328
2    0.360470
3   -0.432974
dtype: float64

In [2]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("The axes are:")
print (s.axes)

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [3]:
import pandas as pd
import numpy as np

#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print (s.empty)

Is the Object empty?
False

In [4]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The dimensions of the object:")
print (s.ndim)

0   -0.001170
1   -0.753865
2   -0.356673
3    0.742483
dtype: float64
The dimensions of the object:
1

In [5]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(2))
print (s)
print ("The size of the object:")
print (s.size)

0   -0.168208
1   -0.356538
dtype: float64
The size of the object:
2

In [6]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print (s)

print ("The actual data series is:")
print (s.values)

0    0.611177
1    0.615958
2   -1.685894
3    0.037023
dtype: float64
The actual data series is:
[ 0.61117664  0.61595759 -1.685894    0.03702341]

In [7]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The first two rows of the data series:")
print (s.head(2))

The original series is:
0   -0.562738
1   -0.200451
2    1.000001
3   -2.505142
dtype: float64
The first two rows of the data series:
0   -0.562738
1   -0.200451
dtype: float64

In [8]:
import pandas as pd
import numpy as np

#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print (s)

print ("The last two rows of the data series:")
print (s.tail(2))

The original series is:
0   -1.496753
1   -0.227435
2    1.079409
3   -0.111147
dtype: float64
The last two rows of the data series:
2    1.079409
3   -0.111147
dtype: float64

In [9]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
      Name  Age  Rating
0    chiku   25    4.23
1    Jerry   26    3.24
2      Ram   25    3.98
3      Sam   23    2.56
4   Shaggy   30    3.20
5    Sumit   29    4.60
6  Pushkar   23    3.80

In [10]:
import pandas as pd
import numpy as np
 
# Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

# Create a DataFrame
df = pd.DataFrame(d)
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
            0      1     2     3       4      5        6
Name    chiku  Jerry   Ram   Sam  Shaggy  Sumit  Pushkar
Age        25     26    25    23      30     29       23
Rating   4.23   3.24  3.98  2.56     3.2    4.6      3.8

In [11]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

In [12]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("The data types of each column are:")
print (df.dtypes)

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

In [13]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Is the object empty?")
print (df.empty)

Is the object empty?
False

In [14]:
#ndim-Returns the number of dimensions of the object. By definition, DataFrame is a 2D object.

import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The dimension of the object is:")
print (df.ndim)

Our object is:
      Name  Age  Rating
0    chiku   25    4.23
1    Jerry   26    3.24
2      Ram   25    3.98
3      Sam   23    2.56
4   Shaggy   30    3.20
5    Sumit   29    4.60
6  Pushkar   23    3.80
The dimension of the object is:
2

In [15]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The shape of the object is:")
print (df.shape)

Our object is:
      Name  Age  Rating
0    chiku   25    4.23
1    Jerry   26    3.24
2      Ram   25    3.98
3      Sam   23    2.56
4   Shaggy   30    3.20
5    Sumit   29    4.60
6  Pushkar   23    3.80
The shape of the object is:
(7, 3)

In [16]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The total number of elements in our object is:")
print (df.size)

Our object is:
      Name  Age  Rating
0    chiku   25    4.23
1    Jerry   26    3.24
2      Ram   25    3.98
3      Sam   23    2.56
4   Shaggy   30    3.20
5    Sumit   29    4.60
6  Pushkar   23    3.80
The total number of elements in our object is:
21

In [17]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print (df)
print ("The actual data in our data frame is:")
print (df.values)

Our object is:
      Name  Age  Rating
0    chiku   25    4.23
1    Jerry   26    3.24
2      Ram   25    3.98
3      Sam   23    2.56
4   Shaggy   30    3.20
5    Sumit   29    4.60
6  Pushkar   23    3.80
The actual data in our data frame is:
[['chiku' 25 4.23]
 ['Jerry' 26 3.24]
 ['Ram' 25 3.98]
 ['Sam' 23 2.56]
 ['Shaggy' 30 3.2]
 ['Sumit' 29 4.6]
 ['Pushkar' 23 3.8]]

In [18]:
import pandas as pd
import numpy as np
 
#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data frame is:")
print (df)
print ("The first two rows of the data frame is:")
print (df.head(3))
print("default head values")
print (df.head())

Our data frame is:
      Name  Age  Rating
0    chiku   25    4.23
1    Jerry   26    3.24
2      Ram   25    3.98
3      Sam   23    2.56
4   Shaggy   30    3.20
5    Sumit   29    4.60
6  Pushkar   23    3.80
The first two rows of the data frame is:
    Name  Age  Rating
0  chiku   25    4.23
1  Jerry   26    3.24
2    Ram   25    3.98
default head values
     Name  Age  Rating
0   chiku   25    4.23
1   Jerry   26    3.24
2     Ram   25    3.98
3     Sam   23    2.56
4  Shaggy   30    3.20

In [19]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['chiku','Jerry','Ram','Sam','Shaggy','Sumit','Pushkar']),
   'Age':pd.Series([25,26,25,23,30,29,23]), 
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
 
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data frame is:")
print (df)
print ("The last two rows of the data frame is:")
print (df.tail(2))

Our data frame is:
      Name  Age  Rating
0    chiku   25    4.23
1    Jerry   26    3.24
2      Ram   25    3.98
3      Sam   23    2.56
4   Shaggy   30    3.20
5    Sumit   29    4.60
6  Pushkar   23    3.80
The last two rows of the data frame is:
      Name  Age  Rating
5    Sumit   29     4.6
6  Pushkar   23     3.8