<a href="https://colab.research.google.com/github/pushkar205/Data-Analysis-using-Python/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[2])
print ("list2[1:5]: ", list2[1:3])

list1[0]:  1997
list2[1:5]:  [2, 3]

In [16]:
list = ['physics', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 999999;
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
999999

In [17]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del (list1[2]);
print ("After deleting value at index 2 :")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [18]:
list1, list2 = [123, 'xyz', 'Tara'], [456, 'abc']
print ("First list length : ", len(list1))
print ("Second list length : ", len(list2))

First list length :  3
Second list length :  2

In [19]:
aList = [123, 'xyz', 'Pushkar', 'abc'];
aList.append( 2009 );
print ("Updated List : ", aList)

Updated List :  [123, 'xyz', 'Pushkar', 'abc', 2009]

In [20]:
aList = [123, 'xyz', 'xyz', 'abc', 123];
print ("Count for xyz : ", aList.count('xyz'))
print ("Count for zara : ", aList.count('zara'))

Count for xyz :  2
Count for zara :  0

In [21]:
aList = [123, 'xyz', 'Tara', 'abc', 123];
bList = [2009, 'pushkar'];
aList.extend(bList)
print ("Extended List : ", aList)

Extended List :  [123, 'xyz', 'Tara', 'abc', 123, 2009, 'pushkar']

In [22]:
aList = [123, 'xyz', 'Tara', 'abc', 'Tara'];
print ("Index for xyz : ", aList.index( 'xyz' ) )
print ("Index for Tara : ", aList.index( 'Tara' ) )

Index for xyz :  1
Index for Tara :  2

In [23]:
aList = [123, 'xyz', 'allu', 'abc']
aList.insert( 3, 2009)
print ("Final List : ", aList)

Final List :  [123, 'xyz', 'allu', 2009, 'abc']

In [24]:
aList = [123, 'xyz', 'pushkar', 'abc'];

print(aList)

print ("List after popping last element : ", aList.pop())

print(aList)

print ("List after popping element from mentioned index: ", aList.pop(2))

print(aList)

aList.insert(3, 2009)

print(aList)

[123, 'xyz', 'pushkar', 'abc']
List after popping last element :  abc
[123, 'xyz', 'pushkar']
List after popping element from mentioned index:  pushkar
[123, 'xyz']
[123, 'xyz', 2009]

In [25]:
aList = [123, 'xyz', 'Pushkar', 'abc', 'xyz'];
aList.remove('xyz');
print ("List : ", aList)
aList.remove('abc');
print ("List : ", aList)

List :  [123, 'Pushkar', 'abc', 'xyz']
List :  [123, 'Pushkar', 'xyz']

In [26]:
aList = ['pushkar', 'xyz', 'Tara', 'abc', 'nive'];
aList.reverse();
print ("List : ", aList)

List :  ['nive', 'abc', 'Tara', 'xyz', 'pushkar']

In [27]:
aList = ['navjeet', 'pushkar', 'sumit', 'abhi', 'nive'];
aList.sort();
print ("List : ", aList)

List :  ['abhi', 'navjeet', 'nive', 'pushkar', 'sumit']

In [28]:
aList = ['lol', 'xyz', 'Tara', 'abc', 'xyz'];
aList.sort();
print ("List : ", aList)

List :  ['Tara', 'abc', 'lol', 'xyz', 'xyz']